.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,500 L 0,125 C 89.71428571428572,143.10714285714286 179.42857142857144,161.21428571428572 296,161 C 412.57142857142856,160.78571428571428 556.0000000000001,142.24999999999997 676,141 C 795.9999999999999,139.75000000000003 892.5714285714284,155.7857142857143 1016,156 C 1139.4285714285716,156.2142857142857 1289.7142857142858,140.60714285714283 1440,125 L 1440,500 L 0,500 Z");
    }
    25%{
      d: path("M 0,500 L 0,125 C 127.21428571428572,104.32142857142857 254.42857142857144,83.64285714285714 374,92 C 493.57142857142856,100.35714285714286 605.5,137.74999999999997 714,151 C 822.5,164.25000000000003 927.5714285714284,153.35714285714286 1048,145 C 1168.4285714285716,136.64285714285714 1304.2142857142858,130.82142857142856 1440,125 L 1440,500 L 0,500 Z");
    }
    50%{
      d: path("M 0,500 L 0,125 C 116.32142857142858,130.28571428571428 232.64285714285717,135.57142857142858 369,138 C 505.35714285714283,140.42857142857142 661.7499999999999,140 782,125 C 902.2500000000001,109.99999999999999 986.3571428571429,80.42857142857143 1090,78 C 1193.642857142857,75.57142857142857 1316.8214285714284,100.28571428571428 1440,125 L 1440,500 L 0,500 Z");
    }
    75%{
      d: path("M 0,500 L 0,125 C 129.5,89 259,53 375,64 C 491,75 593.5,133 715,153 C 836.5,173 977,155 1101,144 C 1225,133 1332.5,129 1440,125 L 1440,500 L 0,500 Z");
    }
    100%{
      d: path("M 0,500 L 0,125 C 89.71428571428572,143.10714285714286 179.42857142857144,161.21428571428572 296,161 C 412.57142857142856,160.78571428571428 556.0000000000001,142.24999999999997 676,141 C 795.9999999999999,139.75000000000003 892.5714285714284,155.7857142857143 1016,156 C 1139.4285714285716,156.2142857142857 1289.7142857142858,140.60714285714283 1440,125 L 1440,500 L 0,500 Z");
    }
  }

  .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,500 L 0,291 C 86.67857142857142,267.7142857142857 173.35714285714283,244.42857142857142 292,250 C 410.64285714285717,255.57142857142858 561.25,290 692,314 C 822.75,338 933.6428571428571,351.5714285714286 1055,346 C 1176.357142857143,340.4285714285714 1308.1785714285716,315.71428571428567 1440,291 L 1440,500 L 0,500 Z");
    }
    25%{
      d: path("M 0,500 L 0,291 C 142.64285714285717,298.32142857142856 285.28571428571433,305.64285714285717 411,294 C 536.7142857142857,282.35714285714283 645.5000000000001,251.74999999999994 751,261 C 856.4999999999999,270.25000000000006 958.7142857142856,319.3571428571429 1073,331 C 1187.2857142857144,342.6428571428571 1313.6428571428573,316.82142857142856 1440,291 L 1440,500 L 0,500 Z");
    }
    50%{
      d: path("M 0,500 L 0,291 C 107.28571428571428,311.4642857142857 214.57142857142856,331.92857142857144 332,329 C 449.42857142857144,326.07142857142856 576.9999999999999,299.75 715,286 C 853.0000000000001,272.25 1001.4285714285716,271.07142857142856 1124,274 C 1246.5714285714284,276.92857142857144 1343.2857142857142,283.9642857142857 1440,291 L 1440,500 L 0,500 Z");
    }
    75%{
      d: path("M 0,500 L 0,291 C 155.71428571428572,302.67857142857144 311.42857142857144,314.35714285714283 416,322 C 520.5714285714286,329.64285714285717 573.9999999999999,333.25000000000006 682,335 C 790.0000000000001,336.74999999999994 952.5714285714284,336.6428571428571 1088,329 C 1223.4285714285716,321.3571428571429 1331.7142857142858,306.17857142857144 1440,291 L 1440,500 L 0,500 Z");
    }
    100%{
      d: path("M 0,500 L 0,291 C 86.67857142857142,267.7142857142857 173.35714285714283,244.42857142857142 292,250 C 410.64285714285717,255.57142857142858 561.25,290 692,314 C 822.75,338 933.6428571428571,351.5714285714286 1055,346 C 1176.357142857143,340.4285714285714 1308.1785714285716,315.71428571428567 1440,291 L 1440,500 L 0,500 Z");
    }
  }
